* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto";
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins";
}




/* ---COLORS--- */
:root {
    --darker-color: #0e202e;
    --dark-color: #2c394b;
    --gray-color: #334756;
    --white-color: #fff;
    --blue-dark: rgb(39, 73, 223);
    --blue-light: rgb(65, 122, 230);
    
}


/* HEADER */
#header {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 20px 7%;
    background-color: rgb(247, 247, 247);
    box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--darker-color);
}

.logo i {
    font-size: 18px;
}

.logo span {
    font-size: 14px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links .navigation-box {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.nav-item a {
    font-size: 14px;
    color: var(--darker-color);
    font-weight: 700;
    padding: 5px;
    transition: all ease-in-out .2s;
}

.nav-item a:hover {
    border-bottom: 1px solid var(--gray-color);
}


.header-buttons {
    display: flex;
    gap: 10px;
}

.user-buttons {
    display: flex;
    gap: 3px;
}

.loginBtn {
    background-color: var(--white-color);
    border: 1px solid var(--dark-color);
    padding: 8px 15px;
    color: var(--darker-color);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
}

.registerBtn {
    background-color: var(--dark-color);
    border: 1px solid var(--dark-color);
    padding: 8px 15px;
    color: var(--white-color);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
}

.blog-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.createPost {
    background-color: var(--darker-color);
    border: 1px solid var(--dark-color);
    padding: 8px 15px;
    color: var(--white-color);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
}
.logoutBtn {
    background-color: var(--white-color);
    border: 1px solid var(--dark-color);
    padding: 8px 15px;
    color: var(--darker-color);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
}


/* HOME-TOP */
#home-top {
    background-color: var(--darker-color);
    color: #fff;
    height: 500px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 6%;
}

#home-top .home-top-content {
    max-width: 700px;
    margin-left: 100px;
}

#home-top .home-top-content h1 {
    font-size: 48px;
    padding-top: 90px;
}

#home-top .home-top-content p {
    font-weight: 500;
    line-height: 1.8;
    font-size: 13px;
    margin-bottom: 7px;
}

#home-top .home-top-btn-container {
    display: flex;
    gap: 5px;
}

#home-top .home-top-btn-container button {
    border: none;
    outline: none;
    padding: 3px 7px;
    border-radius: 1px;
    background-color: var(--gray-color);
    color: #fff;
    border-bottom: 1px solid var(--white-color);
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

/* NOTES */

#notes .notes-wrapper {
    display: flex;
    padding: 0 10%;
    gap: 10px;
    margin-top: -70px;
}

.note-box {
    background-color: var(--gray-color);
    padding: 15px 20px;
    border-radius: 3px;
    color: #fff;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
    transition: all ease-in-out .2s;
    cursor: pointer;
}

.note-box:hover {
    background-color: var(--blue-dark);
    transform: translateY(-2px);
}


.note-box p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
}

/* COURSES */
#courses {
    padding: 40px 10%; 
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 15px;
}

.course-box-image img {
    width: 100%;
}

.course-box {
    background-color: rgb(231, 231, 231);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.course-box-content {
    padding: 10px 15px;
}

.course-box-content h2 {
    font-size: 16px;
}

.course-box-content p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 9px;
}

.buyBtn {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    background-color: var(--dark-color);
    padding: 4px 8px;
    border-radius: 2px;
}


/* BLOG */

#blog {
    padding: 50px 10%;
    /* background-color: var(--dark-color); */
    margin-bottom: 50px;
}


.blog-box {
    background-color: rgb(226, 226, 226);
    padding: 20px;
}

.blog-content {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
}

.blog-box p {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 10px;
}

.post-details {
    font-size: 14px;
    font-weight: 300;
    display: flex;
    gap: 10px;
    margin-bottom: 12px;}

.post-details span:last-child {
    text-decoration: underline;
}

.blog-readmore-btn {
    font-size: 13px;
    color: var(--white-color);
    background-color: var(--gray-color);
    border-radius: 4px;
    padding: 5px 8px;
    font-weight: 700;
}

.blog-read-more {
    color: #fff;
    background-color: var(--darker-color);
    width: fit-content;
    padding: 7px 11px;  
    font-size: 13px; 
    font-weight: 700;
}

.blog-header {
    margin-bottom: 20px;
}

.blog-header h2 {
    font-weight: 300;
    margin-bottom: 10px;
}
.blog-header p {
    font-weight: 300;
}


#footer {
    background-color: var(--gray-color);
    padding: 40px 5%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#about {
    padding: 50px 10%;
    height: 660px;
}

.about-header h1 {
    font-size: 72px;
    font-weight: 300;
}

.about-header p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 10px;
}

.about-header-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.7;
}


/* ERROR */
.error-404 {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-404 h1 {
    font-size: 48px;
}

.error-404 p {
    font-size: 16px;
    font-weight: 700;
    color: rgb(219, 24, 24);
    padding: 5px 8px;
    margin-bottom: 20px;
}

.error-404 a {
    background-color: var(--blue-dark);
    color: #fff;
    padding: 8px 10px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 13px;
}

#top-other-pages {
    padding: 20px 5%;
    background-color: rgb(226, 226, 226);
}

.top-other-content {
    max-width: 600px;
}

#top-other-pages h1 {
    font-size: 30px;
}

#top-other-pages p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 8px;
}

#top-other-pages  button {
    padding: 5px 8px;
    border: none;
    background-color: var(--blue-light);
    color: #fff;
    border-radius: 2px;
    font-weight: 500;
}


/* BLOG FORM */
#form-container {
    padding: 100px 10%;
    height: 550px;
}

#form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 650px;
    gap: 7px;
}

#form-container input {
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(226, 226, 226);
    padding: 10px 15px;
    border-radius: 4px;
}

#form-container textarea {
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(226, 226, 226);
    padding: 10px 15px;
    border-radius: 4px;
    resize: none;
    height: 150px;
}

#form-container button {
    border: none;
    background-color: var(--blue-dark);
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;

}


@media screen and (max-width: 1130px) {
    #notes .notes-wrapper {
        display: flex;
        padding: 0 4%;
        gap: 5px;
        margin-top: -100px;
    }

    .nav-links {
        display: none;
    }
}

@media screen and (max-width: 996px) {
    #notes .notes-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        padding: 0 4%;
        gap: 5px;
        margin-top: 10px;
    }

    #home-top .home-top-content {
        max-width: 700px;
        margin-left: 10px;
    }

    /* HOME-TOP */
#home-top {
    height: 400px;
}
    
}


@media screen and (max-width: 428px) {
    .blog-content {
        display: grid;
        gap: 20px;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
}